name: Archive Artifacts

on:
  push:
    tags:
      - 'v*'

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Get Commit Messages
        id: get_commit_messages
        run: |
          echo "COMMIT_MESSAGES=$(git log $(git describe --tags --abbrev=0)..HEAD --pretty=format:'* %s')" >> $GITHUB_ENV

      - name: Get Version from package.json
        id: get_version
        run: |
          echo "VERSION=$(jq -r .version package.json)" >> $GITHUB_ENV

      - name: Create ZIP of arc-extension
        run: |
          zip -r arc-extension.zip arc-extension

      - name: Create Release
        id: create_release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: v${{ env.VERSION }} # Use the version from package.json
          name: Release v${{ env.VERSION }}
          body: |
            Release notes for v${{ env.VERSION }}
            ## Changes since last release
            ${{ env.COMMIT_MESSAGES }}
          files: |
            arc-extension.zip
        env:
          GITHUB_TOKEN: ${{ secrets.CI_CD_TOKEN }}
